<h1>Test Articles</h1>

<div class="maxi-search-bar-home">
  <%= simple_form_for @comparison do |f| %>
    <%= f.input :publisher_one, collection: Comparison::SOURCES, selected: 1%>
    <%= f.input :publisher_two, collection: Comparison::SOURCES, selected: 1%>
    <%= f.button :submit, 'Search'%>
  <% end %>

<% @articles.each do |article| %>
  <ul>
    <li>
      <a href=<%= article["url"]%>>
        <p><%= article["author"] %>:
        <%= article["title"] %></p>
        <p><%= article["description"] %></p>
      </a>
    </li>
  </ul>
<% end %>
