<% content_for :nav, render('shared/form_navbar') %>
  <div class="maxi-search-bar-home maxi-choose-bias-form absolute-form">
  <% @sources = Source.where(source_keyword: @articles.map { |article| article["source"] })
                .or(Source.where(name: @articles.map { |article| article["source"] }))
                # CNN SOURCES
                .or(Source.where(name: @articles_cnn.map { |article| article["source"][0,3] }))
                .or(Source.where(source_keyword: @articles_cnn.map { |article| article["source"][0,3] }))
                # BBC SOURCES
                .or(Source.where(name: @articles_bbc.map { |article| article["source"][0,3] }))
                .or(Source.where(source_keyword: @articles_bbc.map { |article| article["source"][0,3] })) %>
    <%= simple_form_for @comparison do |f| %>
      <%= f.input :publisher_one, collection: @sources, selected: @sources.first.id, label: false %>
      <%= f.input :publisher_two, collection: @sources, selected: @sources.last.id, label: false %>
      <%= f.button :submit, 'Show', class: "button-white"%>
    <% end %>
  </div>
  <div id="map"
    style="width: 100%; height:83vh; margin: 0 auto;"
    data-markers="<%= @markers.to_json %>"
    data-counters="<%= @articles.map { |article| article["source"] }.tally %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
