<div style="background-color: #191a1a">


<div id="map"
     style="width: 95%; height: 95vh; margin: 0 auto;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<div class="maxi-search-bar-home">
  <%= simple_form_for @comparison do |f| %>
    <%= f.input :publisher_one, collection: Comparison::SOURCES, selected: 1%>
    <%= f.input :publisher_two, collection: Comparison::SOURCES, selected: 1%>
    <%= f.button :submit, 'Search'%>
  <% end %>
</div>



    <%# <% @articles.each do |article| %>
          <a href=<%#= article["url"]%>>
            <p><%#= article["author"] %> </p>
            <p><%#= article["title"] %> </p>
            <p><%#= article["description"] %> </p>
          <%#=article["published_at"] %>
    <%#  end %> %>
</div>
