<div style="background-color: #191a1a">

  <div class="maxi-search-bar-home maxi-choose-bias-form">
    <%= simple_form_for @comparison do |f| %>
      <%= f.input :publisher_one, collection: Comparison::SOURCES, selected: 1%>
      <%= f.input :publisher_two, collection: Comparison::SOURCES, selected: 1%>
      <%= f.button :submit, 'Show', class: "button-white"%>
    <% end %>
  </div>

  <div id="map"
     style="width: 95%; height: 95vh; margin: 0 auto;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

<h1>For control: Articles</h1>
  <% @articles.each do |article| %>
    <a href=<%= article["url"]%>>
      <p>Author <span style="color: white"><%= article["author"] %></span> </p>
      <p> title <span style="color: white"><%= article["title"] %></span> </p>
      <p>description <span style="color: white"><%= article["description"] %></span> </p>
      <p>source <span style="color: white"><%= article["source"] %></span> </p>
    <%=article["published_at"] %>
  <% end %>
</div>
