<div class="footer">
  <div class="container">
    <div class="footer-list">
      <ul>
        <%= link_to '#' do%>
          <li>Our Mission</li>
        <% end %>
        <%= link_to '#' do%>
          <li>Sign Up</li>
        <% end %>
        <%= link_to '#' do%>
          <li>FAQ</li>
        <% end %>
        <%= link_to '#' do%>
          <li>Contact Us</li>
        <% end %>
      </ul>
      </div>
      <div id="footer-logo">
        <%= link_to root_path, class: "navbar-brand" do%>
          <%= image_tag 'logo.png', style: "width: 70px"%>
        <% end %>

    </div>
  </div>
</div>
