<% articles_one = locals[:articles_one]  %>
<% articles_two = locals[:articles_two]  %>
<% comparison = locals[:comparison]  %>

<div class="comparison-container">
<h1>News comparison</h1>

  <div class="articles-compare-container">
    <div class=articles-left>
   <h2 class="header" id="myHeader"> <%= articles_one.first["source"].capitalize %> </h2>
      <% articles_one.each do |article| %>
        <% if article.nil? %>
          <script>alert("No more articles available from this publisher.")</script>
        <% else %>
          <div class="articles-card-container">
            <div class="articles-card-image">
              <img src=<%= article["image"]%> alt="article image">
            </div>
            <div>
              <div class="articles-card-date-cat">
                <p><%= article["category"].upcase %> </p>
                <%= article["published_at"].first(10) %>
                <%= link_to comparison_remove_article_one_path(comparison, article), class: "maxi-remove-article-button" do %>
                <i class="far fa-window-close"></i>
                <% end %>
              </div>
              <div class="article-card-info">
                <h5 class="info-title"><%= article["title"] %> </h5>
                <p class="info-description"><%= article["description"] %> </p>
                <p class="author">Source: <%= article["source"] %> </p>
              </div>
            </div>
          <% end %>
         </div>
      <% end %>
      <%= link_to comparison_add_article_one_path(comparison), class: "maxi-add-article-button" do %>
        <i class="fas fa-plus-circle"></i>
      <% end %>

    </div>
      <div class="articles-right">
      <h2 class="header" id="myHeader"> <%= articles_two.first["source"].capitalize %> </h2>
      <% articles_two.each do |article| %>
        <% if article.nil? %>
          <script>alert("No more articles available from this publisher.")</script>
        <% else %>
          <div class="articles-card-container">
            <div>
              <div class="articles-card-date-cat">
                <%= article["published_at"].first(10) %>
                <p><%= article["category"].upcase %> </p>
                <%= link_to comparison_remove_article_two_path(comparison, article), class: "maxi-remove-article-button" do %>
                <i class="far fa-window-close"></i>
                <% end %>
              </div>
              <div class="article-card-info">
                <h5 class="info-title"><%= article["title"] %> </h5>
                <p class="info-description"><%= article["description"] %> </p>
                <p class="author">Source: <%= article["source"] %></p>
              </div>
            </div>
            <div class="articles-card-image">
              <img src=<%= article["image"]%> alt="article image">
            </div>
          </div>
        <% end %>
      <% end %>
      <%= link_to comparison_add_article_two_path(comparison), class: "maxi-add-article-button" do %>
        <i class="fas fa-plus-circle"></i>
      <% end %>
    </div>
  </div>

  <div class="save">
    <%= link_to 'Save Comparison', comparison_create_entries_path(comparison), method: :post, class: "button-primary" %>
  </div>
</div>
