<div class="maxi-container-home">
  <div class="video">
    <video autoplay muted loop controls="hidden" class="background-video">
      <source src="https://res.cloudinary.com/dci3qkzfc/video/upload/v1637678452/development/production_ID_4765224_irpyr6.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
      <h1>Welcome to Unbias Global</h1>
      <i><h3 id="sub-header-home">Discover news biases around the world and share them with others</h3 id="sub-header-home"></i>

    <div class="maxi-search-bar-home">
      <%= simple_form_for @comparison do |f| %>
        <%= f.input :topic, placeholder: "What to search for?" %>
        <%= f.input :start_date, as: :string, html5: true, input_html: {class: "datepicker"}, placeholder: "When?"%>
        <%= f.input :end_date, as: :string, html5: true, input_html: {class: "datepicker"}, placeholder: "When?" %>
        <%= f.button :button, class: "search-icon-maxi" do %>
          <i style="color: white;" class="fas fa-search"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
