<style>
  body {background: #000;}
</style>

<div style="margin-left: 40px">

<h1 style="color:white">This is an h1</h1>
<p style="color:white">Lorem ipsum dolor sit amet, consectetur adipiscing elit<span style="color:#fc5f29">.</span> Integer suscipit finibus nibh<span style="color:#fc5f29">.</span> Vivamus accumsan sed nisi ut commodo<span style="color:#fc5f29">.</span> Vestibulum in lacus efficitur, tempor arcu eu, imperdiet est<span style="color:#fc5f29">.</span> In imperdiet vulputate ligula<span style="color:#fc5f29">.</span> Praesent at ipsum purus<span style="color:#fc5f29">.</span> Nam condimentum et urna vehicula rutrum<span style="color:#fc5f29">.</span> </p>
<h2 style="color:white">This is an h2</h2>
<p style="color:white">Lorem ipsum dolor sit amet, consectetur adipiscing elit<span style="color:#fc5f29">.</span> Integer suscipit finibus nibh<span style="color:#fc5f29">.</span> Vivamus accumsan sed nisi ut commodo<span style="color:#fc5f29">.</span> Vestibulum in lacus efficitur, tempor arcu eu, imperdiet est<span style="color:#fc5f29">.</span> In imperdiet vulputate ligula<span style="color:#fc5f29">.</span> Praesent at ipsum purus<span style="color:#fc5f29">.</span> Nam condimentum et urna vehicula rutrum<span style="color:#fc5f29">.</span> </p>
<h3 style="color:white">This is an h3</h3>
<p style="color:white">Lorem ipsum dolor sit amet, consectetur adipiscing elit<span style="color:#fc5f29">.</span> Integer suscipit finibus nibh<span style="color:#fc5f29">.</span> Vivamus accumsan sed nisi ut commodo<span style="color:#fc5f29">.</span> Vestibulum in lacus efficitur, tempor arcu eu, imperdiet est<span style="color:#fc5f29">.</span> In imperdiet vulputate ligula<span style="color:#fc5f29">.</span> Praesent at ipsum purus<span style="color:#fc5f29">.</span> Nam condimentum et urna vehicula rutrum<span style="color:#fc5f29">.</span> </p>


<%= link_to 'Start exploring', "#", class: "button-primary" %>

<br>
<br>
<br>
<br>

<h3 style="color:white">Form</h3>
<div class="form-container">
  <h2>Search</h2>
  <%= simple_form_for :user, url: user_session_path do |f| %>
    <div class="white-bordered-icon-input-container">
      <%= f.input :name, as: :string, label: false, placeholder: "Topic" %>
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
      </div>
    </div>
    <%# input without icon %>
    <div class="nowhite-input-container">
      <%= f.input :name, as: :string, label: false, placeholder: "Topic" %>
    </div>
    <%# input with icon appended %>
    <div class="nowhite-input-container">
      <%= f.input :name, as: :string, label: false, placeholder: "Topic" %>
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
      </div>
    </div>
  <% end %>
</div>
</div>
